.contenedorDetail {
  display: flex;
  justify-content: center;

  background: #8fb9a8;

  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 100vh;

  /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.innerContent {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: rgb(70, 63, 63);

  width: 900px;
  /* 
  margin-top: 15%; */
  margin-right: 15%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.137);
}

.goBackButton {
  margin-top: 5%;
  min-width: 100px;
  height: 25px;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #495057;
}

.goBackButton:hover {
  background-color: #6c757d;
}
.goBackButton:active {
  top: 2px;
}

.header {
  padding: 20px;

  display: flex;
  /* /* background: #bdc3c7;  */

  background: #8fb9a8;
}

.loading {
  color: white;
}
