.formContainer {
  width: auto;
  height: 100vh;

  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background: #8fb9a8; */

  background: #4b79a1;
  background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
  background: linear-gradient(to right, #283e51, #4b79a1);

  /* background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000); */
}

.goBackButton {
  min-width: 100px;
  height: 25px;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  right: 45px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #495057;
}
.goBackButton:hover {
  background-color: #6c757d;
}
.goBackButton:active {
  top: 2px;
}

.createButton {
  margin-top: 35px;
  min-width: 100px;
  height: 25px;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  right: 45px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #495057;
}
.createButton:hover {
  background-color: #6c757d;
}
.createButton:active {
  top: 2px;
}

.input {
  width: 330px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

.input:focus {
  /* background: rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  outline: none;
}

.formLabels {
  width: 90px;
  color: white;
  font-weight: bold;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

.titleFrom {
  font-family: "Quicksand", sans-serif;
  color: #f1828dcd;
  text-shadow: 2px 2px 2px black;
  position: relative;
  right: 45px;
}

.buttonCheck {
  cursor: pointer;
  font-size: 22px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nameType {
  color: white;
}

.header {
  padding: 20px;

  display: flex;

  background: #4b79a1;
  background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
  background: linear-gradient(to right, #283e51, #4b79a1);

  /* background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000); */
}
