.formContainer {
  display: flex;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.createButton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ffd819;
  background: #ffd819;
}
.createButton:hover {
  background: #fff;
  color: #ffd819;
}

.goBackButton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ffe566;
  box-shadow: 0 5px #ffd819;
}
.goBackButton:hover {
  box-shadow: 0 3px #ffd819;
  top: 1px;
}
.goBackButton:active {
  box-shadow: 0 0 #ffd819;
  top: 5px;
}

.input {
  width: 330px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

.input:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}

.formLabels {
  width: 90px;
  font-weight: bold;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

.titleFrom {
  font-family: "Quicksand", sans-serif;
  color: lightslategray;
}

.buttonCheck {
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
