body {
  margin: 0;
  font-family: "Changa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: #8fb9a8;
  /* background: linear-gradient(to right, #010f1d, #2e0a3a); */
  height: 100%;
}
