.pokeList {
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 45px;
  padding: 25px;
}

.card {
  display: flex;
  justify-content: center;
  border: 2px solid lightgrey;
  border-radius: 5%;
  padding: 20px;
  width: 230px;

  display: flex;
  background: #bdc3c7; /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */

  background: #fefad47e;
  /* background: linear-gradient(to right, #252e38, #74787b); */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 2);
}

.card:hover {
  transform: translate3d(0.1ch, 0.1in, 7em);
}

.barra {
  display: flex;
  justify-content: space-around;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* //BOTONES HOME  */

.buttonHome {
  min-width: 100px;
  height: 25px;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #495057;
}
.buttonHome:hover {
  background-color: #6c757d;
}
.buttonHome:active {
  top: 2px;
}

/* BOTON DE CREADO  */

.created {
  min-width: 130px;
  height: 35px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #adb5bd;
  color: #adb5bd;
}
.created:hover {
  color: #fff;
}
.created:after {
  width: 100%;
}
.created:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #adb5bd;
}

.noResult {
  /* display: flex;
  justify-content: Center;
  flex-direction: column; */

  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

  width: auto;
  height: 100vh;
}

.imgNotFound {
  margin: auto;
}

.principal {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

  background: #8fb9a8;
  /* 
  background: linear-gradient(to right, #010f1d, #2e0a3a); */
}

.header {
  padding: 20px;

  display: flex;
  /* /* background: #bdc3c7;  */
  background: #8fb9a8;
  /* background: linear-gradient(to right, #010f1d, #2e0a3a); */
}

.loading {
  width: auto;
  height: 100vh;
  color: white;

  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.notfound {
  color: white;
}
