.tag {
  margin-right: 8px;
  font-size: 15;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #6bf7f7 border 1 px solid green;
  border: rgb(8, 1, 1);
  border-radius: 4;
  padding: 4;
}

.contenTag {
  border: rgb(8, 1, 1);
}
