.tag {
  margin-right: 8px;
  font-size: 15;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: white;
  border: rgb(8, 1, 1);
  border-radius: 4;
  padding: 4;
}

.contenTag {
  border: rgb(8, 1, 1);
}

.contentCard {
  color: white;
}

a {
  text-decoration: none;
}
