.tag {
  margin-right: 8px;
  font-size: 15;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: rgb(70, 63, 63);
  border: rgb(8, 1, 1);
  border-radius: 4;
  padding: 4;
}

.contenTag {
  border: rgb(8, 1, 1);
}

.contentCard {
  color: rgb(70, 63, 63);
}

a {
  text-decoration: none;
}
