.botonera {
  border: 0px;
  padding: 10px 18px;

  color: whitesmoke;
  cursor: pointer;
  border-radius: 100%;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;

  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.botoneraContent {
  display: flex;
  justify-content: center;
  gap: 15px;
}
